* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	background-color: #fdfdfd;
}

#menubar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-image: linear-gradient(to right, #063155, #0a5088 );
	position: fixed;
	width: 100%;
	z-index:2;
	box-shadow: 0px 0px 3px 3px rgb(75, 75, 75);
}

#logo{
	float: left;
	background-color: #d2e1ee;
	margin-right: 15px;
	width: 16%;
}

#logo a {
	display: block;
	color: #073a63;
	text-align: center;
	padding: 8px 16px;
	text-decoration: none;
	font-size: 29px;
	font-weight: bold;
}

.menuitem{
	float: left;
	margin: 5px;
}

.menuitem a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px 16px;
	text-decoration: none;
	border-radius: 8px;
}

/* Change the link color to #111 (black) on hover */
.menuitem a:hover {
	background-color: #0d4370;
}

.active {
	background-color: #0a5088;
}

a.active:hover {
	background-color: #094475;
}

#main {
	width: 100%;
	margin-top: 52px;
	float: left;
}

@media (prefers-color-scheme: dark) {
	body {background-color: #232323;}
}