* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

html {
	height: 100%;
}

body {
	background-image: linear-gradient(to right, #063155, #0a5088 );
	height: 100%;
	width: 100%;
	margin: 0;
	position: relative;
	overflow: hidden;
}


#toast {
    visibility: hidden;
    max-width: 50%;
    margin: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 25%;
    bottom: 30px;
    font-size: 17px;
    transition: visibility 0.5s, opacity 0.5s;
    opacity: 0;
}

#toast.show {
    visibility: visible;
    opacity: 1;
}



#box {
	height:60%;
    width: 500px;
    border-radius: 10px;
    background-color: white;
    display: block;
	margin-top: 100px;
  	margin-left: auto;
  	margin-right: auto;
	min-height: 650px;
}

#naslov {
	height: 22%;
	width: 100%;
	padding-top: 10%;
	text-align: center;
	display: block;
	font-size: 50px;
	font-weight: bolder;
	color:#063155;
}

#error {
	width: 100%;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: rgb(141, 1, 1);
}

.input_label {
	margin-top: 5%;
	width: 100%;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: rgb(57, 57, 57);
}

.input_box {
	width: 60%;
	margin-top: 2%;
	margin-left: 20%;
	padding: 1%;
	text-align: center;
	font-size: 20px;
	border: #656565;
	border-style: solid;
	border-radius: 10px;
	outline-color: #063155;
}

#register {
	width: 24%;
	height: 10%;
	margin-top: 2%;
	margin-left: 38%;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: white;
	border-style: none;
	border-radius: 10px;
	background-color: #063155;
}

#register:hover {
	background-color: #0d4370;
}

#prijava {
	width: 100%;
	margin-top: 6%;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	color: #063155;
	display: block;
	text-decoration:none;
}

@media (prefers-color-scheme: dark) {
    #box { background-color: rgb(37, 37, 37); }
	#naslov { color: white; }
	#error  { color: white; }
	.input_label {color: white; }
	#prijava {color: white; }
	.input_box {border: white; 
		border-style: solid; 
		border-radius: 10px; 
		background-color: rgb(224, 224, 224);
	}
}

